// Adjust this to include the pixel amounts you need.
// width and height, margin and padding

$space-amount-custom: 2, 3, 5, 7, 9, 11, 15, 18, 19, 21, 25, 27, 31, 32, 33, 34, 37, 39, 42, 48, 52, 54, 56,
  58, 60, 61, 63, 65, 66, 68, 70, 72, 74, 76, 77, 84, 85, 88, 89, 92, 94, 95, 97, 98, 102, 104, 107, 112,
  116, 118, 120, 124, 125, 126, 130, 132, 136, 139, 140, 146, 148, 151, 156, 160, 168, 170, 173, 174,
  179, 184, 189, 195, 200, 210, 220, 238, 248, 261, 265, 274, 280, 283, 287, 294, 320, 325, 371, 374, 400,
  452, 474, 480, 506, 507, 566, 590, 563, 652, 658, 660, 672, 710, 728, 904, 1000, 1122, 1366;

$opacity-custom: 70, 80;
$border-radius-custom: 6, 12;
$border-width-custom: 3, 6;
$stroke-width-custom: 3;
$zindex-custom: -10, 1;
$font-size-custom: 8, 15, 40, 56, 76;
$pos-trbl-custom: 25, 99;
$percent-custom: 62, 75, 120;
