button{
    background: linear-gradient(to right, #665DCD 0%, #5FA4E6 45%, #D2AB67 100%) !important;
    border: none !important;
    border-radius: 0px !important;
    height: 58px !important;
    width: 190px !important;
}